venv/
**/__pycache__/**
/__pycache__/**
/__pycache__/
unit_test_paskaita/
build/
dist/products.json
dist/info.log
dist/search_history.db
products.json
info.log
note.ico
search_history.db
price_analyzer_project.spec