venv/
**/__pycache__/**
/__pycache__/**
/__pycache__/
price_analyzer/__pycache__/
unit_test_paskaita/
price_analyzer/products.json
build/
price_analyzer_project.spec
info.log
note.ico
search_history.db